<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HostelNet - Rede de Hostels</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <a href="/" class="logo">HostelNet</a>
            <form method="GET" action="/search">            
              <input type="text" class="search-box" placeholder="Pesquise por cidade">
            </form>
        </div>
    </header>

    <!-- Navigation -->
    <nav class="nav">
        <div class="nav-content">
            <a href="/" class="nav-item active">Todos</a>
            <a href="/sp" class="nav-item">São Paulo</a>
            <a href="/rj" class="nav-item">Rio de Janeiro</a>
            <a href="/ba" class="nav-item">Bahia</a>
        </div>
    </nav>